.viewReports {
  text-align: center;
  padding-top: 20%;
  background-color: #103900;
  height: 100vh;
}

.addReports {
  text-align: center;
  padding-top: 20%;
  background-color: #A2D69E;
  height: 100vh;
}

.landing {
  column-count: 2;
  column-rule-width: 50%;
  column-gap: 1px;
  color: white;
}