.ReportDetails {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ReportItem {
  height: auto;
  padding: 2rem;
  border: 1px solid gray;
  box-shadow: 5px 5px #ccc;
  transition: 0.3s;
}

.ReportItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

@media (min-width: 650px) {
  .ReportItem {
    width: 30rem;
  }
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.EditDeleteButtons {
  margin: 1rem;
}


